@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h4>Add a new animal</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Species)
  @Html.TextBoxFor(model => model.Species)
  @Html.LabelFor(model => model.Breed)
  @Html.TextBoxFor(model => model.Breed)
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Gender)
  @Html.TextBoxFor(model => model.Gender)
  @Html.LabelFor(model => model.Age)
  @Html.TextBoxFor(model => model.Age, new { type="number", required = "required" })
  @Html.LabelFor(model => model.DateAdmit)
  @Html.TextBoxFor(model => model.DateAdmit, new { type="date" })
  <input type="submit" value="Add new animal" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>